/* DnnDatePicker & DnnDateTimePicker style fix */

.dnnForm .full-width {
    width:100%;
    max-width:inherit;
}

.dnnForm .RadPicker_Default,
.dnnForm .RadPicker_Input  
{   
    /* override inline style */
    height:33px!important;
}

.dnnForm .RadPicker_Input .riTextBox,
.dnnForm .RadPicker_Default .riTextBox 
{ 
    height:33px 
}

/* end fix */

.dnnForm .RadTreeView_Default
{
    display:block;
    float:left;
    margin-bottom:10px;
    padding:10px;
    overflow:hidden;
    background-color:#eee;
}

.dnnFormItem > .RadTreeView_Default
{
    width:45%;
    max-width:445px;
}

.dnnFormItem .dnn-form-control { margin-bottom:18px; }

.dnnFormItem .dnn-form-control-group
{
    display:inline-block;
    width:45%;
    max-width:445px;
}

.dnnFormItem .dnn-form-control-group .dnn-form-control-half-width
{
    /* WTF: Cannot override default.css using DnnCssInclude.Priority */
    width:33%!important;
    max-width:33%!important;
}

.dnnFormItem .dnn-form-control-group .dnn-form-control-quarter-width
{
    /* WTF: Cannot override default.css using DnnCssInclude.Priority */
    width:20%!important;
    max-width:20%!important;
}

.dnnFormItem .edit-button-right {
    margin-left:1.75em;
}

.dnnFormItem .dnnGrid input[type="checkbox"] + span {
    margin:0
}

.dnnModuleAuditControl {
    display:inline-block;
    width:45%;
    max-width:445px   
}

/* jQuery UI excerpt */
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;

    /* from ui-widget-content */
    background: #ffffff;
    border: 1px solid #aaaaaa;

    max-height:16em;
    overflow:auto;
}

.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
}

.ui-menu .ui-menu-item.ui-state-focus {
    background:#c9c9c9;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.ui-front {
    z-index: 100;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
