/* DnnDatePicker & DnnDateTimePicker style fix */

.dnnForm .RadPicker_Default,
.dnnForm .RadPicker_Input  
{   
    /* override inline style */
    height:33px!important;
}

.dnnForm .RadPicker_Input .riTextBox,
.dnnForm .RadPicker_Default .riTextBox 
{ 
    height:33px 
}

/* end fix */

.dnnForm .RadTreeView_Default
{
    display:block;
    float:left;
    margin-bottom:10px;
    padding:10px;
    width:45%;
    max-width:445px;
    overflow:hidden;
    background-color:#eee;
}
