.dnn-ac-combobox .ui-corner-left {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.dnn-ac-combobox .ui-corner-right {
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

.dnn-ac-combobox {
    display:inline-block;
    width:45%;
    max-width:445px;
}

.dnn-ac-combobox-input {
    width:100%;
    /* from .dnnFormItem input */
    margin-bottom:18px;
    padding:8px;
    background:#fff;
    border:1px solid #c9c9c9;
    border-radius:3px;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 12px;
    border-right:none;
}

.dnn-ac-combobox-input:active,
.dnn-ac-combobox-input:focus {
    border: 1px solid rgba(2,139,255,0.5);
    box-shadow: 0px 0px 3px 0px rgba(2, 139, 255, 0.4);
    color: #333;
}

.dnn-ac-combobox-toggle {
    width:16px;
    height:24px;
    min-width:auto;
    position:absolute;
    padding:6px 0 0 0;
}

.dnn-ac-combobox .dnnSecondaryAction {
    box-shadow:none;
}
