.u8y-eduprogram .u8y-inline { display:inline }
.u8y-eduprogram div.u8y-para { margin-bottom:10px }
.u8y-eduprogram div.u8y-para-end { margin-bottom:20px }

.eduprogram-directory .u8y-column.u8y-expand { width:100% }

.u8y-science-directory table { font-size:85% }
.u8y-science-directory table thead { font-size:85% }

.u8y-science-directory .u8y-science-descr-dlg .u8y-science-descr-dlg-caption { font-weight:bold }
.u8y-science-directory .u8y-science-descr-dlg .u8y-science-descr-dlg-body { 
	font-size:85%;
	max-height:550px;
	overflow:auto
}