/* Place module CSS here */

.Launchpad_ContentList { width:100% }				
.Launchpad_ContentListItem { text-align: left }
.Launchpad_UserName { font-weight:bold }
.Launchpad_CreateOnDate { font-style:italic }
.Launchpad_Content { clear:both }

/* dnnGridHeader fix */
.dnnGridHeader th 
{
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    background: #f0f2f1;
    background: linear-gradient(top, #fff 0%,#f0f2f1 100%);
    padding: 5px;
}
