.university-division ._section
{ 
	display:block 
}

.university-division .panel-subdivisions,
.university-division ._section, 
.university-division ._barcode,
.university-division .link-barcode
{ 
	margin-top:8px
}	

.university-division ._label 
{ 
	display:inline-block;	
	margin-right:8px
}

.university-division li.not-published-division { color:#ddd }
.university-division li.not-published-division a { color:#ddd }

.university-division .dialog-division-barcode { display:none }