/* Employee styles */

.Employee ._label,
.Employee ._section,
.Employee ._name,
.Employee ._positions,
.Employee ._userprofile
{ 
	display:block 
}

.Employee ._section,
.Employee ._name,
.Employee ._positions,
.Employee ._userprofile
{
	margin-top:8px
}

.Employee ._section,
.Employee ._photo,
.Employee ._name
{ 
	text-align:center;
}

.Employee ._photo { padding-top:8px }

.Employee ._email { display:inline-block }

.Employee ._userprofile { text-align:right }

.Employee ._fullname { font-style:italic; }

/* Employee details styles */

.employeeDetails .employeeDetailsTable 
{ 
    display:table;
    width:100%
}

.employeeDetails ._section,
.employeeDetails ._positions,
.employeeDetails ._website,
.employeeDetails ._userprofile
{
	display:block
}

.employeeDetails ._section,
.employeeDetails ._positions,
.employeeDetails ._userprofile
{
	margin-top:8px
}
    
.employeeDetails ._label,
.employeeDetails ._email,
.employeeDetails ._barcode
{
	display:inline-block
}

.employeeDetails ._label,
.employeeDetails ._email,
.employeeDetails ._website
{
	margin-right:8px
}

.employeeDetails ._photo
{
    display:table-cell;
	margin-right:10px;
	margin-top:3px
}

.employeeDetails ._tabs 
{ 
    display:table-cell;
    vertical-align:top;
}

.employeeDetails ._barcode { border:5px solid #eee }

.employeeDetails ul.dnnActions { display:block }

.employeeDetails .grid-achievements td.has-description,
.employeeDetails .grid-experience td.has-description { cursor:help }