/* Employee styles */

.Employee ._label,
.Employee ._section,
.Employee ._name,
.Employee ._positions,
.Employee ._userprofile
{ 
	display:block 
}

.Employee ._section,
.Employee ._name,
.Employee ._positions,
.Employee ._userprofile
{
	margin-top:8px
}

.Employee ._section,
.Employee ._photo,
.Employee ._name
{ 
	text-align:center;
}

.Employee ._photo { padding-top:8px }

.Employee ._email { display:inline-block }

.Employee ._userprofile { text-align:right }

.Employee ._fullname { font-style:italic; }

/* Employee details styles */

.u8y-employee-details .employeeDetailsTable 
{ 
    display:table;
    width:100%
}

.u8y-employee-details ._section,
.u8y-employee-details ._positions,
.u8y-employee-details ._website,
.u8y-employee-details ._userprofile
{
	display:block
}

.u8y-employee-details ._section,
.u8y-employee-details ._positions,
.u8y-employee-details ._userprofile { margin-top:8px }
    
.u8y-employee-details ._label,
.u8y-employee-details ._email { display:inline-block }
}

.u8y-employee-details ._label,
.u8y-employee-details ._email,
.u8y-employee-details ._website { margin-right:8px }

.u8y-employee-details ._photo {
    display:table-cell
}

.u8y-employee-details ._tabs 
{ 
    display:table-cell;
    vertical-align:top;
}

.u8y-employee-details .tab-content {
    margin-left:18px; /* compensate left margin of ul */
    margin-top:1em
}

.u8y-employee-details ul.dnnActions { display:block }

.u8y-employee-details .dialog-employee-barcode, 
.u8y-employee-details .dialog-employee-achievement-description { display:none }

.u8y-employee-details label { font-weight:bold }
.u8y-employee-details label.u8y-label-contacts { display:block }