/* Employee styles */

.Employee ._label,
.Employee ._section,
.Employee ._name,
.Employee ._positions,
.Employee ._userprofile
{ 
	display:block 
}

.Employee ._section,
.Employee ._name,
.Employee ._positions,
.Employee ._userprofile
{
	margin-top:8px
}

.Employee ._section,
.Employee ._photo,
.Employee ._name
{ 
	text-align:center;
}

.Employee ._photo { padding-top:8px }

.Employee ._email { display:inline-block }

.Employee ._userprofile { text-align:right }

.Employee ._fullname { font-style:italic; }

/* Employee details styles */

.university-employee-details .employeeDetailsTable 
{ 
    display:table;
    width:100%
}

.university-employee-details ._section,
.university-employee-details ._positions,
.university-employee-details ._website,
.university-employee-details ._userprofile
{
	display:block
}

.university-employee-details ._section,
.university-employee-details ._positions,
.university-employee-details ._userprofile { margin-top:8px }
    
.university-employee-details ._label,
.university-employee-details ._email { display:inline-block }
}

.university-employee-details ._label,
.university-employee-details ._email,
.university-employee-details ._website { margin-right:8px }

.university-employee-details ._photo
{
    display:table-cell;
	margin-right:10px;
	margin-top:3px
}

.university-employee-details ._tabs 
{ 
    display:table-cell;
    vertical-align:top;
}

.university-employee-details ul.dnnActions { display:block }

.university-employee-details .dialog-employee-barcode, 
.university-employee-details .dialog-employee-achievement-description { display:none }