.divisionDirectory .gridDivisions { width:100% }

.divisionDirectory .textSearch 
{ 
    float:left;
    width:33%!important;
    margin-right:0.5em 
}

.divisionDirectory .linkDivisions 
{ 
    min-width:15em;
    padding:6px;
    overflow:hidden;
    line-height:20px; /* hide all lines except 1st */
    font-weight:normal;
    text-shadow:none; 
}

.divisionDirectory .linkSearch { float:left }

.divisionDirectory .wrapperDivisions
{
    position:relative;
    float:left;
    margin-right:0.5em
}

.divisionDirectory #hiddenDivisions
{
    display:none;
    position:absolute;
    top:40px;
    left:0;
    max-height:200px;
    z-index:10;
    overflow:auto;
    overflow-x:hidden;
    padding:10px;
    background-color:#fff;
    border:1px solid #ccc;
    box-shadow:0 0 5px #ccc
}

.divisionDirectory ._nonpublished { background-color:#ffc }

/* dnnGridHeader fix */
.divisionDirectory .dnnGridHeader th
{
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    background: #f0f2f1;
    background: linear-gradient(top, #fff 0%,#f0f2f1 100%);
    padding: 5px
}

/* add more here for deeper hierarchies */
/* first 3 levels w/o indent (base 8px), next + 6px per level */
.divisionDirectory table td.indent-1 { }
.divisionDirectory table td.indent-2 { }
.divisionDirectory table td.indent-3 { padding-left: 14px }
.divisionDirectory table td.indent-4 { padding-left: 20px }
.divisionDirectory table td.indent-5 { padding-left: 26px }
.divisionDirectory table td.indent-6 { padding-left: 32px }
.divisionDirectory table td.indent-7 { padding-left: 38px }
.divisionDirectory table td.indent-8 { padding-left: 44px }
.divisionDirectory table td.indent-9 { padding-left: 50px }
.divisionDirectory table td.indent-10 { padding-left: 56px }

.divisionDirectory table tr.return {
    border-top-style: solid;
    border-top-color: #ddd
}

/* add more here for deeper hierarchies */
.divisionDirectory table tr.return.return-1 { border-top-width: 2px }
.divisionDirectory table tr.return.return-2 { border-top-width: 3px }
.divisionDirectory table tr.return.return-3 { border-top-width: 4px }
.divisionDirectory table tr.return.return-4 { border-top-width: 5px }
.divisionDirectory table tr.return.return-5 { border-top-width: 6px }
.divisionDirectory table tr.return.return-6 { border-top-width: 7px }
.divisionDirectory table tr.return.return-7 { border-top-width: 8px }
.divisionDirectory table tr.return.return-8 { border-top-width: 9px }
.divisionDirectory table tr.return.return-9 { border-top-width: 10px }
.divisionDirectory table tr.return.return-10 { border-top-width: 11px }
