.u8y-division ._section { display:block }

.u8y-division ._section,
.u8y-division .panel-subdivisions,
.u8y-division .btn-barcode,
.u8y-division .btn-related-content { margin-top:8px }

.u8y-division ._label
{ 
	display:inline-block;
	margin-right:8px
}

.division-directory .grid-divisions,
.division-directory .grid-obrnadzor-divisions { width:100% }

.division-directory .textSearch 
{ 
    float:left;
    width:33%!important;
    margin-right:0.5em 
}

.division-directory .linkDivisions 
{ 
    min-width:15em;
    padding:6px;
    overflow:hidden;
    line-height:20px; /* hide all lines except 1st */
    font-weight:normal;
    text-shadow:none; 
}

.division-directory .linkSearch { float:left }

.division-directory .wrapperDivisions
{
    position:relative;
    float:left;
    margin-right:0.5em
}

.division-directory #hiddenDivisions
{
    display:none;
    position:absolute;
    top:40px;
    left:0;
    max-height:200px;
    z-index:10;
    overflow:auto;
    overflow-x:hidden;
    padding:10px;
    background-color:#fff;
    border:1px solid #ccc;
    box-shadow:0 0 5px #ccc
}

/* add more here for deeper hierarchies */
/* first 2 levels w/o indent (base 8px), next + 6px per level */
.division-directory table td.level-1 { }
.division-directory table td.level-2 { padding-left: 14px }
.division-directory table td.level-3 { padding-left: 20px }
.division-directory table td.level-4 { padding-left: 26px }
.division-directory table td.level-5 { padding-left: 32px }
.division-directory table td.level-6 { padding-left: 38px }
.division-directory table td.level-7 { padding-left: 44px }
.division-directory table td.level-8 { padding-left: 50px }
.division-directory table td.level-9 { padding-left: 56px }
.division-directory table td.level-10 { padding-left: 62px }

.division-directory table tr.return {
    border-top-style: solid;
    border-top-color: #ddd
}

/* add more here for deeper hierarchies */
.division-directory table tr.return.return-1 { border-top-width: 2px }
.division-directory table tr.return.return-2 { border-top-width: 3px }
.division-directory table tr.return.return-3 { border-top-width: 4px }
.division-directory table tr.return.return-4 { border-top-width: 5px }
.division-directory table tr.return.return-5 { border-top-width: 6px }
.division-directory table tr.return.return-6 { border-top-width: 7px }
.division-directory table tr.return.return-7 { border-top-width: 8px }
.division-directory table tr.return.return-8 { border-top-width: 9px }
.division-directory table tr.return.return-9 { border-top-width: 10px }
.division-directory table tr.return.return-10 { border-top-width: 11px }

.division-directory .u8y-single-entity-division { font-style: italic }
.division-directory .u8y-governing-division { font-weight: bold }
.division-directory .u8y-informal-division { color:#ddd }
.division-directory .u8y-informal-division a { color:#ddd !important }