/* Employee styles */

.u8y-employee ._label,
.u8y-employee ._section,
.u8y-employee ._name,
.u8y-employee ._positions,
.u8y-employee ._userprofile { 
	display:block 
}

.u8y-employee ._section,
.u8y-employee ._name,
.u8y-employee ._positions,
.u8y-employee ._userprofile {
	margin-top:8px
}

.u8y-employee ._section,
.u8y-employee ._name
{ 
	text-align:center;
}

.u8y-employee ._email { display:inline-block }

.u8y-employee ._userprofile { text-align:right }

.u8y-employee ._fullname { font-style:italic; }

/* Shared styles */

.u8y-employee, .u8y-employee-details { padding-top:.5em }

/* Employee details styles */

.u8y-employee-details ._section,
.u8y-employee-details ._positions,
.u8y-employee-details ._website,
.u8y-employee-details ._userprofile {
	display:block
}

.u8y-employee-details ._section,
.u8y-employee-details ._positions,
.u8y-employee-details ._userprofile { margin-top:8px }
    
.u8y-employee-details ._label,
.u8y-employee-details ._email { display:inline-block }

.u8y-employee-details ._label,
.u8y-employee-details ._email,
.u8y-employee-details ._website { margin-right:8px }

.u8y-employee-details .tab-content {
    margin-top:1rem
}

.u8y-employee-details .u8y-employee-contacts {
	display:block;
	text-align:center
}

.u8y-employee-details .btn-barcode { margin-top:14px }

.u8y-employee-details ul.dnnActions { display:block }

.u8y-employee-details .dialog-employee-barcode, 
.u8y-employee-details .dialog-employee-achievement-description { display:none }

.u8y-employee-details label { font-weight:bold }
.u8y-employee-details label.u8y-label-contacts { display:block }

.u8y-employee-details table.grid-achievements,
.u8y-employee-details table.grid-experience,
.u8y-employee-details table.grid-disciplines { font-size:80% }

.u8y-employee-details .u8y-employee-about { font-size:80% }

.u8y-employee-details .u8y-employee-details-tabs { font-size:80% }

.u8y-employee-list {
    display:block;
    padding-top:.5em;
    margin-bottom:1em
}

.u8y-employee-list ._nonpublished { background-color:#ffc }
.u8y-employee-list ._editlink { margin-right:4px }
.u8y-employee-list ._fullname { font-style:italic }

.u8y-employee-list ._email, 
.u8y-employee-list ._website,
.u8y-employee-list ._userprofile {
	margin-right:8px 
}

.u8y-employee-list ._positions,
.u8y-employee-list ._phones,
.u8y-employee-list ._email, 
.u8y-employee-list ._website,
.u8y-employee-list ._userprofile {
	margin-top:8px 
}

.u8y-employee-list ._positions,
.u8y-employee-list ._phones {
	display:block
}

.u8y-employee-list ._email, 
.u8y-employee-list ._website,
.u8y-employee-list ._userprofile {
	display:inline-block
}

.u8y-employee-list .u8y-employee-list-item {
    display:block
}

.u8y-employee-list > br {
    display:none
}

.employee-directory .grid-employees { width:100% }

.employee-directory .textSearch {
    float:left;
    width:33%!important;
    margin-right:0.5em 
}

.employee-directory .linkDivisions {
    min-width:15em;
    padding:6px;
    overflow:hidden;
    line-height:20px; /* hide all lines except 1st */
    font-weight:normal;
    text-shadow:none; 
}

.employee-directory .linkSearch { float:left }

.employee-directory .wrapperDivisions {
    position:relative;
    float:left;
    margin-right:0.5em
}

.employee-directory #hiddenDivisions {
    display:none;
    position:absolute;
    top:40px;
    left:0;
    max-height:200px;
    z-index:10;
    overflow:auto;
    overflow-x:hidden;
    padding:10px;
    background-color:#fff;
    border:1px solid #ccc;
    box-shadow:0 0 5px #ccc
}

.employee-directory .not-published h3 { color:#ccc }

.employee-directory .grid-teachers { 
    width:100%;
    font-size:85% 
}

.u8y-img-employee-nophoto { border: 2px solid #ccc }
.u8y-employee-list-item { margin-bottom: 1rem }
