.employeeDirectory .gridEmployees { width:100% }

.employeeDirectory .textSearch 
{ 
    float:left;
    width:33%!important;
    margin-right:0.5em 
}

.employeeDirectory .linkDivisions 
{ 
    min-width:15em;
    padding:6px;
    overflow:hidden;
    line-height:20px; /* hide all lines except 1st */
    font-weight:normal;
    text-shadow:none; 
}

.employeeDirectory .linkSearch { float:left }

.employeeDirectory .wrapperDivisions
{
    position:relative;
    float:left;
    margin-right:0.5em
}

.employeeDirectory #hiddenDivisions
{
    display:none;
    position:absolute;
    top:40px;
    left:0;
    max-height:200px;
    z-index:10;
    overflow:auto;
    overflow-x:hidden;
    padding:10px;
    background-color:#fff;
    border:1px solid #ccc;
    box-shadow:0 0 5px #ccc
}

.employeeDirectory .not-published { background-color:#ffc }
