/* Place CSS for view control here */

.EmployeeDirectory_ContentList { width:100% }             
.EmployeeDirectory_ContentListItem { text-align: left }
.EmployeeDirectory_UserName { font-weight:bold }
.EmployeeDirectory_CreateOnDate { font-style:italic }
.EmployeeDirectory_Content { clear:both }

.ViewEmployeeDirectory .gridEmployees { width:100%; }

.ViewEmployeeDirectory .textSearch { float:left;margin-right:0.5em }

/* .ViewEmployeeDirectory .comboDivisions { float:left;margin-right:0.5em;width:200px!important } */

.ViewEmployeeDirectory .linkDivisions 
{ 
    float:left;margin-right:0.5em;
    width:200px;
    max-height:18px;
    overflow:hidden;
    line-height:20px; /* hide all lines except first */
    font-weight:normal 
}

.ViewEmployeeDirectory .linkSearch { float:left }

/* dnnGridHeader fix */
.ViewEmployeeDirectory .dnnGridHeader th
{
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    background: #f0f2f1;
    background: linear-gradient(top, #fff 0%,#f0f2f1 100%);
    padding: 5px;
}
