@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<object>
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using R7.University.ModelExtensions
@{
	JavaScript.RequestRegistration ("React");
	JavaScript.RequestRegistration ("ReactDOM");
	ClientResourceManager.RegisterStyleSheet (Dnn.DnnPage, "~/DesktopModules/MVC/R7.University/R7.University/css/module.css");
	ClientResourceManager.RegisterScript (Dnn.DnnPage, "~/DesktopModules/MVC/R7.University/R7.University/assets/js/WorkbookConverter.min.js");
}
<div class="u8y-workbook-converter"
	data-module-id="@Dnn.ModuleContext.ModuleId">
</div>