.EmployeeList { width:100% }	
			
.EmployeeList ._listitem { text-align:left }

.EmployeeList ._listitemwrapper { display:table-row }

.EmployeeList ._listitem._nonpublished { background-color:#ffc }

.EmployeeList ._editlink { margin-right:4px }

.EmployeeList ._fullname { font-style:italic }

.EmployeeList ._info, 
.EmployeeList ._detailslink 
{ 
	display:table-cell
}

.EmployeeList ._info 
{ 
	vertical-align:top;
	padding-bottom:8px 
}

.EmployeeList ._email, 
.EmployeeList ._website,
.EmployeeList ._userprofile,
.EmployeeList ._photo 
{ 
	margin-right:8px 
}

.EmployeeList ._positions,
.EmployeeList ._phones,
.EmployeeList ._email, 
.EmployeeList ._website,
.EmployeeList ._userprofile  
{
	margin-top:8px 
}

.EmployeeList ._positions,
.EmployeeList ._phones
{ 
	display:block
}

.EmployeeList ._email, 
.EmployeeList ._website,
.EmployeeList ._userprofile  
{  
	display:inline-block
}
