.u8y-employee-list {
    display:block;
    padding-top:.5em;
    margin-bottom:1em
}

.u8y-employee-list ._nonpublished { background-color:#ffc }
.u8y-employee-list ._editlink { margin-right:4px }
.u8y-employee-list ._fullname { font-style:italic }

.u8y-employee-list ._email, 
.u8y-employee-list ._website,
.u8y-employee-list ._userprofile {
	margin-right:8px 
}

.u8y-employee-list ._positions,
.u8y-employee-list ._phones,
.u8y-employee-list ._email, 
.u8y-employee-list ._website,
.u8y-employee-list ._userprofile {
	margin-top:8px 
}

.u8y-employee-list ._positions,
.u8y-employee-list ._phones {
	display:block
}

.u8y-employee-list ._email, 
.u8y-employee-list ._website,
.u8y-employee-list ._userprofile {
	display:inline-block
}

.u8y-employee-list .employee-list-item {
    display:block
}

.u8y-employee-list > br {
    display:none
}